

#name {
    padding:10px;
    margin-bottom: 10px;
    width: 125px;
    background:#4aaaa5 ;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
    border: 5px solid purple;
    float: left;
    width: 25%;
}

#three{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    border: 5px solid blue;
    margin: 20px;
    width: 200px;
    text-align: center;
    font-size: x-small;
    padding: 10px;
    float: right;
    width: 25%
}

#aboutme {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#body{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    
}

#profile{
    margin-right: 20px;
    margin-bottom: 20px;
}

.links a{
    text-decoration: none;
    color: #777777
}

a:hover{
    color: #4aaaa5;
}

.container {
    margin: 100px;
    padding: 10px;
    border: 5px solid red;
    position: absolute;

}

#footer{    
    border-top: 8px solid #4aaaa5;
    text-align: center;
    flex-shrink: 0;
    background: #777777;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #ffffff;
    position: bottom;
}

